.container{
padding:2em 15px;
}


.mobile-menu{
display:block;
}

h1,h2,h3,h4,h5,h6{
    color:#333;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    
}

h1{font-size:3em;margin-bottom: 0.5em}
h2{font-size:2.75em; margin-bottom: 0.5em}
h3{font-size:2.5em;}
h4{font-size:2em;}
h5{font-size:1.5em;}
h6{font-size:1.25em;}


.span-head{
    color: #333;
    font-family: 'Muli', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    line-height: 1.2;
}



ul, ol, p, span,a {
    color:#666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

p{
    line-height:1.5;
    margin:0.5em 0 1em;
    font-size:1.25em;
}

a{
    outline:none
}

.btn-primary {
    color: #fff;
    background-color: #222;
    text-transform: uppercase;
    border: 2px solid #222;
    padding: 10px 20px;
    max-width: 170px;
    width: 100%;
    -webkit-transition: ease-in-out 0.15s;
    transition: ease-in-out 0.15s;
}

.btn-primary:hover {
    color: #222;
    background-color: transparent;
    border-color: #222;

}

span.date{
margin-bottom: 1em;
    display: block;
}

.nav-link {
    display: block;
    padding: .5rem 1rem 0.5rem 0;
}


section.row{
    padding-top: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #666;
}
section.row:nth-child(1){
    padding-top: 0;
}

#speakers img{
float:left;
border-radius: 50%;
margin-right: 10px;
border: 1px solid #777;
max-width: 110px;
    width: 100%;
}

#speakers h4{
font-size: 1.75em;
}

#speakers span{
font-size: 0.85em;
    display: block;
}

@media (max-width: 989px) {
    #speakers .col-lg-6{
        margin-bottom: 2em;
    }
}
/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .bootstrap-vertical-nav .collapse {
        display: block;
    }
    .mobile-menu{
        display:none;
    }
}

@media (max-width: 767px) {
     .span-head{
        display:none;
        }
}